-- MySQL dump 10.13  Distrib 8.0.34, for Win64 (x86_64)
--
-- Host: localhost    Database: db_fintech
-- ------------------------------------------------------
-- Server version	8.0.34

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adminlogin`
--

DROP TABLE IF EXISTS `adminlogin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adminlogin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `adminname` varchar(50) DEFAULT NULL,
  `password` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminlogin`
--

LOCK TABLES `adminlogin` WRITE;
/*!40000 ALTER TABLE `adminlogin` DISABLE KEYS */;
INSERT INTO `adminlogin` VALUES (1,'admin','admin'),(2,'admin','admin');
/*!40000 ALTER TABLE `adminlogin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `creditcardapplication`
--

DROP TABLE IF EXISTS `creditcardapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `creditcardapplication` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `dateofbirth` date NOT NULL,
  `contact` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `Id` varchar(255) NOT NULL,
  `idnumber` varchar(255) NOT NULL,
  `professionname` varchar(255) NOT NULL,
  `Monthlysalary` decimal(10,2) NOT NULL,
  `idphoto` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `application_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`application_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `creditcardapplication`
--

LOCK TABLES `creditcardapplication` WRITE;
/*!40000 ALTER TABLE `creditcardapplication` DISABLE KEYS */;
/*!40000 ALTER TABLE `creditcardapplication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `creditcards`
--

DROP TABLE IF EXISTS `creditcards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `creditcards` (
  `creditcard_id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `application_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `dateofbirth` date NOT NULL,
  `contact` varchar(15) NOT NULL,
  `address` text NOT NULL,
  `id_type` varchar(50) NOT NULL,
  `id_number` varchar(50) NOT NULL,
  `profession_name` varchar(255) NOT NULL,
  `monthly_salary` decimal(10,2) NOT NULL,
  `id_photo` varchar(255) DEFAULT NULL,
  `credit_card_number` varchar(16) NOT NULL,
  `card_type` varchar(50) NOT NULL,
  `expiry_date` date NOT NULL,
  `cvv` varchar(3) NOT NULL,
  `credit_limit` decimal(10,2) NOT NULL,
  `available_credit` decimal(10,2) NOT NULL,
  `issuance_date` date NOT NULL,
  `billing_cycle_start` date NOT NULL,
  `billing_cycle_end` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`creditcard_id`),
  UNIQUE KEY `credit_card_number` (`credit_card_number`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `creditcards_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `creditcardapplication` (`application_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `creditcards`
--

LOCK TABLES `creditcards` WRITE;
/*!40000 ALTER TABLE `creditcards` DISABLE KEYS */;
INSERT INTO `creditcards` VALUES (1,1,1,'SACHIN N HOLLA','2001-03-22','8050866077','mangalore','aadhar','331444','software developer',60000.00,'1721016366157-Screenshot (6).png','4667651895244274','visa','2027-09-01','648',120000.00,119206.00,'2024-09-13','2024-09-01','2024-09-30','2024-09-13 04:50:30');
/*!40000 ALTER TABLE `creditcards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `debicardapplication`
--

DROP TABLE IF EXISTS `debicardapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `debicardapplication` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `bankacc` varchar(200) DEFAULT NULL,
  `dateofbirth` varchar(200) DEFAULT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `Id` varchar(200) DEFAULT NULL,
  `idnumber` varchar(200) DEFAULT NULL,
  `idphoto` varchar(200) DEFAULT NULL,
  `created_on` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `debit_pin` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`application_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `debicardapplication`
--

LOCK TABLES `debicardapplication` WRITE;
/*!40000 ALTER TABLE `debicardapplication` DISABLE KEYS */;
INSERT INTO `debicardapplication` VALUES (1,'SACHIN N HOLLA','qqs','2001-03-22','8050866077','das','aadhar','55334334','1722496636137-Screenshot (5).png','2024-08-01 07:17:16',NULL),(2,'SACHIN N HOLLA','99623693','2001-03-22','8050866077','kudla','pan-card','55334334','1722497967397-Screenshot (6).png','2024-08-01 07:39:27',NULL),(3,'sudha','84743663','1977-11-17','7795635540','mangalore','aadhar','3908744143','1723890391571-hd.jpg','2024-08-17 10:26:31','9999');
/*!40000 ALTER TABLE `debicardapplication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `debitcards`
--

DROP TABLE IF EXISTS `debitcards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `debitcards` (
  `card_id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `application_id` int DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `dateofbirth` varchar(100) DEFAULT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `id_type` varchar(100) DEFAULT NULL,
  `id_number` varchar(100) DEFAULT NULL,
  `id_photo` varchar(200) DEFAULT NULL,
  `debit_card_number` varchar(200) DEFAULT NULL,
  `expiry_date` varchar(100) DEFAULT NULL,
  `cvv` varchar(100) DEFAULT NULL,
  `issuance_date` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`card_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `debitcards`
--

LOCK TABLES `debitcards` WRITE;
/*!40000 ALTER TABLE `debitcards` DISABLE KEYS */;
INSERT INTO `debitcards` VALUES (1,1,1,'SACHIN N HOLLA','2001-03-22','8050866077','das','aadhar','55334334','1722496636137-Screenshot (5).png','4589378366555187','2028-09-01','648','2024-09-13');
/*!40000 ALTER TABLE `debitcards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_edu_details`
--

DROP TABLE IF EXISTS `edu_edu_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_edu_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `institution_name` varchar(255) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `course_duration` varchar(100) NOT NULL,
  `current_year_of_study` varchar(100) NOT NULL,
  `expected_graduation_date` date NOT NULL,
  `sslc_marks_card` varchar(255) DEFAULT NULL,
  `previous_study_marks_card` varchar(255) DEFAULT NULL,
  `marks_card_description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_edu_details`
--

LOCK TABLES `edu_edu_details` WRITE;
/*!40000 ALTER TABLE `edu_edu_details` DISABLE KEYS */;
INSERT INTO `edu_edu_details` VALUES (1,10,'joseph','MBA','2 years','2024','2025-02-22','1724063013466-Screenshot (8).png','1724063013472-Screenshot (6).png','mba 2nd yeear','2024-08-19 10:23:33','Approved'),(3,22,'joseph','mca','2 years','2024','2025-11-22','1724301503180-Screenshot (8).png','1724301503225-Screenshot (7).png','mca 2nd yeear','2024-08-22 04:38:23','pending');
/*!40000 ALTER TABLE `edu_edu_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_final_details`
--

DROP TABLE IF EXISTS `edu_final_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_final_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `tuitionFee` decimal(10,2) NOT NULL,
  `otherExpenses` decimal(10,2) NOT NULL,
  `totalLoan` decimal(10,2) NOT NULL,
  `tenure` int NOT NULL,
  `interestRate` decimal(5,2) NOT NULL DEFAULT '8.00',
  `emi` decimal(10,2) NOT NULL,
  `estimation` varchar(255) DEFAULT NULL,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(255) DEFAULT 'pending',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_final_details`
--

LOCK TABLES `edu_final_details` WRITE;
/*!40000 ALTER TABLE `edu_final_details` DISABLE KEYS */;
INSERT INTO `edu_final_details` VALUES (1,10,200000.00,3992.00,203992.00,3,8.00,6392.37,'1724063028172-Screenshot (4).png','2024-08-19 10:23:48','Approved'),(3,22,200000.00,20000.00,220000.00,4,8.00,5370.84,'1724301522594-Screenshot (6).png','2024-08-22 04:38:42','pending');
/*!40000 ALTER TABLE `edu_final_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_peronal_details`
--

DROP TABLE IF EXISTS `edu_peronal_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_peronal_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `full_name` varchar(255) NOT NULL,
  `date_of_birth` date NOT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `marital_status` enum('Married','Single','Divorced') NOT NULL,
  `nationality` varchar(100) NOT NULL,
  `address` varchar(255) NOT NULL,
  `contact_information` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `parent_name` varchar(255) NOT NULL,
  `parent_occupation` varchar(100) NOT NULL,
  `parent_annual_income` decimal(15,2) NOT NULL,
  `parent_contact_information` varchar(20) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_peronal_details`
--

LOCK TABLES `edu_peronal_details` WRITE;
/*!40000 ALTER TABLE `edu_peronal_details` DISABLE KEYS */;
INSERT INTO `edu_peronal_details` VALUES (1,10,'Sachin N Holla','2001-03-22','Male','Single','indian','mangaalore','8050866077','sachinholla01@gmail.com','Narasimha Holla','business',12211.00,'9845181266','2024-08-19 10:23:01','Approved'),(3,22,'sudha','1977-11-17','Female','Married','indian','mangaalore','7795635540','sudhaholla01@gmail.com','madhav','business',1000.00,'9845181266','2024-08-22 04:37:48','pending');
/*!40000 ALTER TABLE `edu_peronal_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `electricitybill`
--

DROP TABLE IF EXISTS `electricitybill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `electricitybill` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bill_id` int DEFAULT NULL,
  `userId` int DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `phone_num` varchar(200) DEFAULT NULL,
  `billing_month` varchar(100) DEFAULT NULL,
  `due_date` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `payment_date` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `electricitybill`
--

LOCK TABLES `electricitybill` WRITE;
/*!40000 ALTER TABLE `electricitybill` DISABLE KEYS */;
/*!40000 ALTER TABLE `electricitybill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `existingbankusers`
--

DROP TABLE IF EXISTS `existingbankusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `existingbankusers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `username` varchar(200) DEFAULT NULL,
  `password` varchar(200) DEFAULT NULL,
  `accountNum` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `existingbankusers`
--

LOCK TABLES `existingbankusers` WRITE;
/*!40000 ALTER TABLE `existingbankusers` DISABLE KEYS */;
INSERT INTO `existingbankusers` VALUES (1,1,'sachin','sachhu','74108049'),(2,2,'sudha','sudha','93013995'),(3,1,'sachin','sachhu','74108049'),(4,2,'sudha','sudha','93013995');
/*!40000 ALTER TABLE `existingbankusers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `final_personal_loan`
--

DROP TABLE IF EXISTS `final_personal_loan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `final_personal_loan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `repay_method` varchar(200) DEFAULT NULL,
  `repay_schedule` varchar(200) DEFAULT NULL,
  `reference_name` varchar(200) DEFAULT NULL,
  `relationship_to_applicant` varchar(200) DEFAULT NULL,
  `contact_info` varchar(200) DEFAULT NULL,
  `status` varchar(200) DEFAULT 'pending',
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `final_personal_loan_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `perso_personal_loan` (`userId`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `final_personal_loan`
--

LOCK TABLES `final_personal_loan` WRITE;
/*!40000 ALTER TABLE `final_personal_loan` DISABLE KEYS */;
INSERT INTO `final_personal_loan` VALUES (1,10,'bankTransfer','monthly','modi','prime minister','8982210375','approved'),(2,22,'bankTransfer','monthly','rcb','treanm','35226622q12','approved');
/*!40000 ALTER TABLE `final_personal_loan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financi_personal_loan`
--

DROP TABLE IF EXISTS `financi_personal_loan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financi_personal_loan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `loan_amount` decimal(10,2) NOT NULL,
  `loan_purpose` varchar(255) NOT NULL,
  `loan_tenure` int DEFAULT '5',
  `interest_rate` decimal(4,2) DEFAULT '13.00',
  `emi` decimal(10,2) NOT NULL,
  `credit_score` int NOT NULL,
  `bank_statements` varchar(255) DEFAULT NULL,
  `tax_returns` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(200) DEFAULT 'pending',
  PRIMARY KEY (`id`),
  KEY `fk_user_id` (`user_id`),
  CONSTRAINT `fk_user_id` FOREIGN KEY (`user_id`) REFERENCES `perso_personal_loan` (`userId`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financi_personal_loan`
--

LOCK TABLES `financi_personal_loan` WRITE;
/*!40000 ALTER TABLE `financi_personal_loan` DISABLE KEYS */;
INSERT INTO `financi_personal_loan` VALUES (1,10,30000.00,'personal',5,13.00,682.59,702,'1724383453249-Screenshot (6).png','1724383453266-Screenshot (8).png','2024-08-23 03:24:13','approved'),(2,22,20000.00,'personal',5,13.00,455.06,655,'1724383904718-Screenshot (6).png','1724383904723-Screenshot (5).png','2024-08-23 03:31:44','approved');
/*!40000 ALTER TABLE `financi_personal_loan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loginhistory`
--

DROP TABLE IF EXISTS `loginhistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loginhistory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `loginTime` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=660 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loginhistory`
--

LOCK TABLES `loginhistory` WRITE;
/*!40000 ALTER TABLE `loginhistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `loginhistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobile_recharge`
--

DROP TABLE IF EXISTS `mobile_recharge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobile_recharge` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `mobile_no` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `paid_on` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobile_recharge`
--

LOCK TABLES `mobile_recharge` WRITE;
/*!40000 ALTER TABLE `mobile_recharge` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobile_recharge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `newbankuser`
--

DROP TABLE IF EXISTS `newbankuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `newbankuser` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `dob` varchar(200) DEFAULT NULL,
  `city` varchar(200) DEFAULT NULL,
  `pincode` varchar(200) DEFAULT NULL,
  `phnumber` varchar(200) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `aadhar` varchar(200) DEFAULT NULL,
  `gender` varchar(100) DEFAULT NULL,
  `initialamt` varchar(200) DEFAULT NULL,
  `username` varchar(200) DEFAULT NULL,
  `password` varchar(200) DEFAULT NULL,
  `accNum` varchar(200) DEFAULT NULL,
  `pin_number` varchar(20) DEFAULT NULL,
  `userID` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `name` (`name`),
  KEY `phnumber` (`phnumber`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `newbankuser`
--

LOCK TABLES `newbankuser` WRITE;
/*!40000 ALTER TABLE `newbankuser` DISABLE KEYS */;
INSERT INTO `newbankuser` VALUES (1,'Sachin N Holla','2001-03-22','mangalore','575014','8050866077','sachinholla01@gmail.com','869563449024','male','3878','sachin','$2b$10$1jBDV5A7tzKbefLF4ox3NuWn2JjG/qWfPLfrxQhynMMYWy6bPJ8Xm','75397059','3333','1');
/*!40000 ALTER TABLE `newbankuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perso_personal_loan`
--

DROP TABLE IF EXISTS `perso_personal_loan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `perso_personal_loan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `fullname` varchar(255) NOT NULL,
  `dateofbirth` date NOT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `marital_status` enum('Married','Single','Divorced') NOT NULL,
  `nationality` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `contact` varchar(20) NOT NULL,
  `email` varchar(255) NOT NULL,
  `employment_status` enum('Employed','Self-Employed','Unemployed','Retired') NOT NULL,
  `occupation` varchar(255) NOT NULL,
  `years_of_employment` int NOT NULL,
  `annual_income` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(200) DEFAULT 'pending',
  PRIMARY KEY (`id`),
  UNIQUE KEY `userId` (`userId`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perso_personal_loan`
--

LOCK TABLES `perso_personal_loan` WRITE;
/*!40000 ALTER TABLE `perso_personal_loan` DISABLE KEYS */;
INSERT INTO `perso_personal_loan` VALUES (1,10,'Sachin N Holla','2001-03-22','Male','Single','indian','manglore','8050866077','sachinholla01@gmail.com','Unemployed','student',0,10.00,'2024-08-23 03:23:55','approved'),(2,22,'sudha holla','1977-11-17','Female','Married','indian','manglore','7795635540','sudhaholla01@gmail.com','Self-Employed','housew wiffde',0,23333.00,'2024-08-23 03:31:23','approved');
/*!40000 ALTER TABLE `perso_personal_loan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `session_id` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `expires` int unsigned NOT NULL,
  `data` text CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_session_id` (`session_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
INSERT INTO `sessions` VALUES (5,'dDlcdVTEXESeWCJTMIvpA8duTF3Iw4lm',600,'{\"cookie\":{\"originalMaxAge\":600000,\"expires\":600000,\"httpOnly\":true,\"path\":\"/\"},\"user\":{\"id\":3,\"email\":\"sudhaholla01@gmail.com\"}}');
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactiondetails`
--

DROP TABLE IF EXISTS `transactiondetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactiondetails` (
  `id` int NOT NULL AUTO_INCREMENT,
  `paymentId` varchar(200) DEFAULT NULL,
  `accnum` varchar(200) DEFAULT NULL,
  `date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `description` varchar(200) DEFAULT NULL,
  `amount` varchar(200) DEFAULT NULL,
  `type` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactiondetails`
--

LOCK TABLES `transactiondetails` WRITE;
/*!40000 ALTER TABLE `transactiondetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactiondetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(200) DEFAULT NULL,
  `email_verified` varchar(100) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'22ca076.sachinn@sjec.ac.in','1','SACHIN N HOLLA'),(2,'sachinholla01@gmail.com','1','Sachin Holla'),(3,'sudhaholla01@gmail.com','1','Sudha Holla');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilitybills`
--

DROP TABLE IF EXISTS `utilitybills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilitybills` (
  `id` int NOT NULL AUTO_INCREMENT,
  `paymentId` varchar(200) DEFAULT NULL,
  `phone_number` varchar(200) DEFAULT NULL,
  `date` varchar(200) DEFAULT NULL,
  `description` varchar(200) DEFAULT NULL,
  `amount` varchar(200) DEFAULT NULL,
  `payment_type` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilitybills`
--

LOCK TABLES `utilitybills` WRITE;
/*!40000 ALTER TABLE `utilitybills` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilitybills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `water_bill`
--

DROP TABLE IF EXISTS `water_bill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `water_bill` (
  `bill_id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `billing_month` varchar(200) DEFAULT NULL,
  `due_date` varchar(200) DEFAULT NULL,
  `amount_due` varchar(100) DEFAULT NULL,
  `water_usage` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `payment_date` varchar(200) DEFAULT NULL,
  `late_fee` varchar(200) DEFAULT NULL,
  `bill_AccNum` varchar(200) DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`bill_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `water_bill`
--

LOCK TABLES `water_bill` WRITE;
/*!40000 ALTER TABLE `water_bill` DISABLE KEYS */;
INSERT INTO `water_bill` VALUES (1,10,'2024-08','2024-09-14','173','30','paid',NULL,'0','36260654','SACHIN N HOLLA'),(2,22,'2024-08','2024-09-14','640','18','paid',NULL,'0','55963965','sudha');
/*!40000 ALTER TABLE `water_bill` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-01-12 19:23:44
