.background-bankconnect{
    position:absolute;
    background-color: bisque;
    width:100%;
    height:100%;
}

.for-content{
    position: relative;
    width:40%;
    height:40%;

    top:25%;
    left:30%;
    background-color: azure;
    box-shadow: 4px 4px 9px  grey,-4px -4px 9px grey,-4px 4px 9px grey,4px -4px 9px grey ;

}
#forbootstrap{
    position: relative;
    left:48%;
    width:41%;
    top:19%;
}
.for-content h2{
    position: relative;
    left:11%;
    top:37%;
}
.btn-connect{
    position: relative;
    top:25%;
    left:39%;
    background-color: orange;
    border-radius: 15px;
    width:21%;
    height:35px;

}